h2 {
    margin-bottom: 2rem;
}

.Demo {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#calculator {
    display: none;
}

.startDemo {
    color: var(--prymary500);
    letter-spacing: 7px;
    font-weight: bold;
    background-color: white;
    border: 2px solid var(--primary400);
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 32px;
    width: 60%;
    margin: auto;
}

.startDemo:hover {
    color: var(--primary400);
}

.input {
    letter-spacing: 5px;
    font-weight: bold;
    background-color: white;
    border: 2px solid var(--primary500);
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 32px;
    margin-top: 20px;
}

.tag {
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: bold;
}

.result{
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: bold;
    margin-top: 30px;
}

.generate {
    color: var(--prymary500);
    letter-spacing: 7px;
    font-weight: bold;
    background-color: white;
    border: 2px solid var(--primary400);
    border-radius: 5px;
    font-size: 1.5rem;
    line-height: 32px;
    margin-top: 30px;
}

.generate:hover {
    color: var(--primary400);
}

@media (max-width: 768px) {

    #calculator{
        width: 50%;
    }

    .startDemo {
        width: 100%;
    }

    .generate,
    .result,
    .tag  {
        margin-left: -80%;
    }
}