name: Generate xml sitemap

on:
  push:
    branches: [ main ] # O 'master', controlla il nome del tuo branch principale

permissions:
  contents: write

jobs:
  sitemap_job:
    runs-on: ubuntu-latest
    name: Generate a sitemap

    steps:
    - name: Checkout the repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 

    - name: Generate the sitemap
      id: sitemap
      uses: cicirello/generate-sitemap@v1
      with:
        base-url-path: 'https://giovanni-zanotti.is-a.dev' # IL TUO DOMINIO REALE
        drop-html-extension: true # Metti false se vuoi che i link finiscano con .html

    - name: Commit and push
      run: |
        if [[ `git status --porcelain sitemap.xml` ]]; then
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add sitemap.xml
          git commit -m "Automated sitemap update"
          git push
        fi